on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
name: Link Check
jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: markdown-link-check
      uses: ./
      with:
        use-quiet-mode: 'yes'
        folder-path: 'md'
  shellcheck:
    runs-on: [ubuntu-latest]
    steps:
      - uses: 'bewuethr/shellcheck-action@v2'
